################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/editool-7.16/editool/bin/Debug/TopSolid.Kernel.XK.CpuCaps.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.XK.Compression.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.XK.BitmapStreams.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.SX.XmlSerializers.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.SX.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.Automating.dll
/editool-7.16/editool/bin/Debug/TopSolid.Cam.NC.Kernel.Automating.dll
/editool-7.16/editool/bin/Debug/TopSolid.Cad.Design.Automating.dll
/editool-7.16/editool/bin/Debug/SentinelRMSCore.dll
/editool-7.16/editool/bin/Debug/Newtonsoft.Json.dll
/editool-7.16/editool/bin/Debug/Microsoft.Identity.Client.dll
/editool-7.16/editool/bin/Debug/LZ4pn.dll
/editool-7.16/editool/bin/Debug/LZ4mm.dll
/editool-7.16/editool/bin/Debug/LZ4cc.dll
/editool-7.16/editool/bin/Debug/LZ4.dll
/editool-7.16/editool/bin/Debug/hasp_net_windows.dll
