################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/editool-7.16/editool/bin/Debug/hasp_net_windows.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.XK.CpuCaps.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.XK.Compression.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.XK.BitmapStreams.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.SX.XmlSerializers.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.SX.dll
/editool-7.16/editool/bin/Debug/TopSolid.Kernel.Automating.dll
/editool-7.16/editool/bin/Debug/TopSolid.Cam.NC.Kernel.Automating.dll
/editool-7.16/editool/bin/Debug/TopSolid.Cad.Design.Automating.dll
/editool-7.16/editool/bin/Debug/SentinelRMSCore.dll
/editool-7.16/editool/bin/Debug/Newtonsoft.Json.dll
/editool-7.16/editool/bin/Debug/Microsoft.Identity.Client.dll
/editool-7.16/editool/bin/Debug/LZ4pn.dll
/editool-7.16/editool/bin/Debug/LZ4mm.dll
/editool-7.16/editool/bin/Debug/LZ4cc.dll
/editool-7.16/editool/bin/Debug/LZ4.dll
*.vsidx
/editool-7.16/.vs/editool/v17/.suo
/editool-7.16/packages
/editool-7.16/editool/bin/Debug/app.publish/editool.exe
/editool-7.16/editool/bin/Debug/editool.pdb
/editool-7.16/editool/bin/Debug/editool.exe.manifest
/editool-7.16/editool/bin/Debug/editool.exe
/editool-7.16/editool/bin/Debug/editool.application
/editool-7.16/editool/obj/Debug/editool.vbproj.ResolveComReference.cache
/editool-7.16/editool/obj/Debug/editool.vbproj.GenerateResource.cache
/editool-7.16/editool/obj/Debug/editool.vbproj.FileListAbsolute.txt
/editool-7.16/editool/obj/Debug/editool.vbproj.CoreCompileInputs.cache
/editool-7.16/editool/obj/Debug/editool.vbproj.AssemblyReference.cache
/editool-7.16/editool/obj/Debug/editool.pdb
/editool-7.16/editool/obj/Debug/editool.Main.resources
/editool-7.16/editool/obj/Debug/editool.exe.manifest
/editool-7.16/editool/obj/Debug/editool.exe
/editool-7.16/editool/obj/Debug/editool.application
/editool-7.16/editool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/editool-7.16/editool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/editool-7.16/.vs/editool/FileContentIndex/merges/e7a04788-5402-418d-94c1-d7865390968e.vsidx
/.vs/ediTool/v17/.wsuo
