<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="editool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <userSettings>
    <editool.My.MySettings>
      <setting name="testP" serializeAs="String">
        <value>123456789987</value>
      </setting>
      <setting name="PrefLang" serializeAs="String">
        <value>fr</value>
      </setting>
      <setting name="NameMask" serializeAs="String">
        <value>FR Ø[D] [NoTT]z Lc[L] Lu[CTS_EL]</value>
      </setting>
      <setting name="ToolType" serializeAs="String">
        <value />
      </setting>
      <setting name="MaskTT_FR" serializeAs="String">
        <value>FR Ø[D] [NoTT]z Lc[L] Lu[CTS_EL]</value>
      </setting>
      <setting name="MaskTT_FT" serializeAs="String">
        <value>FT Ø[D] r[r] [NoTT]z Lc[L] Lu[CTS_EL]</value>
      </setting>
      <setting name="MaskTT_FB" serializeAs="String">
        <value>FB Ø[D] [NoTT]z Lc[L] Lu[CTS_EL]</value>
      </setting>
      <setting name="MaskTT_FP" serializeAs="String">
        <value>FP Ø[D] [NoTT]z Lc[L]</value>
      </setting>
      <setting name="MaskTT_FO" serializeAs="String">
        <value>FO Ø[D] [NoTT]z Lc[L]</value>
      </setting>
      <setting name="MaskTT_AL" serializeAs="String">
        <value />
      </setting>
      <setting name="lastPath" serializeAs="String">
        <value />
      </setting>
      <setting name="V6_default_path" serializeAs="String">
        <value>c:/missler/config/database/tools/</value>
      </setting>
    </editool.My.MySettings>
  </userSettings>
</configuration>