<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit.Wpf" version="2.23.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1293.44" targetFramework="net472" />
  <package id="WebView2.Runtime.X64" version="108.0.1462.44" targetFramework="net472" />
</packages>